.margin-top-medium {
  margin-top: 6rem;
}
.margin-top-small {
  margin-top: 1rem;
}
.form-middle {
  justify-content: center;
}
.margin-left-small {
  margin-left: -3%;
}
.stick-bottom {
  position: sticky;
  bottom: 0;
}
#box {
  width: 2rem;
  height: 1.1rem;
}
.padding-medium {
  padding: 1.6rem;
}
.padding-medium-left {
  padding-left: 1.6rem;
}