<header class="header">
  <div class="header__logo-box">
    <a href="/resetpassword"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading ">Create New Password</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container">
  <div class="container-form">
    <form action="#" class="form">
      <input type="password" class="form__input" placeholder="New Password">
      <input type="password" class="form__input" placeholder="Confirm Password">
      <div class="btn-primary ">
        <a href="/signin" class="btn"><div>Save</div></a>
      </div>
    </form>
  </div>
</section>