<header class="header">
  <div class="header__logo-box">
    <a href="/myprofile"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading "> Edit Profile</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container">
  <div class="container-form margin-top-medium">
    <form action="#" class="form">
      <input type="text" class="form__input" placeholder="William Franklin">
      <input type="date" class="form__input" placeholder="July 1, 1990">
      <input type="text" class="form__input" placeholder="Male">
      <input type="text" class="form__input" placeholder="Atlanta, CA">
      <input type="text" class="form__input" placeholder="So strongly and metaphysically did I conceive of">
      <div class="btn-primary margin-top-small">
        <a href="/signin" class="btn"><div>Save</div></a>
      </div>
    </form>
  </div>
</section>