
<header class="header">
 &nbsp;
</header>

<main class="container">
  <div class="logo">
    <div class="logo-box">
      <%= image_tag 'Group2.jpg',class: 'logo-box__logo' %>
      <!--    <img src="logo.png" alt="Momento Logo" class="logo-box__logo">-->
    </div>
    <div class="heading-box">
      <h1 class="heading">Momento</h1>
    </div>
  </div>
  <div class="buttons">
    <div class="btn-primary">
      <a href="/signin" class="btn"><div>Sign In</div></a>
    </div>
    <div class="link-primary">
      <a href="/register" class="link">Create New Account</a>
    </div>
  </div>
</main>
