<header class="header">
  <div class="header__logo-box">
    <a href="/"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading "> Create Account</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container">
  <div class="container-form">
    <form action="#" class="form">
      <input type="email" class="form__input" placeholder="Email ID">
      <input type="password" class="form__input" placeholder="Password">
      <input type="password" class="form__input" placeholder="Confirm Password">
      <div class="btn-primary margin-top-medium">
        <a href="/setprofile" class="btn"><div>Proceed</div></a>
      </div>
    </form>
  </div>
</section>