<header class="header">
  <div class="header__logo-box">
    <a href="/signin"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading ">Reset Password</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container">
  <div class="container-form">
    <form action="#" class="form">
      <input type="email" class="form__input" placeholder="Email ID">
      <div class="btn-primary ">
        <a href="/createnewpassword" class="btn"><div>Send Link</div></a>
      </div>
    </form>
  </div>
</section>