<header class="header">
  <div class="header__logo-box">
    <a href="/register"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading "> Set up Profile</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container">
  <div class="container-form">
    <form action="#" class="form">
      <input type="text" class="form__input" placeholder="Full Name">
      <input type="date" class="form__input" placeholder="Date of Birth">
      <input type="text" class="form__input" placeholder="Gender">
      <input type="text" class="form__input" placeholder="Location">
      <input type="text" class="form__input" placeholder="About Me">
      <div class="btn-primary margin-top-medium">
        <a href="/signin" class="btn"><div>Get Set Go!</div></a>
      </div>
    </form>
  </div>
</section>