
<header class="header">
  <div class="header__logo-box">
    <a href="/"> <div><%= image_tag 'back.svg',class: 'header__logo' %></div></a>
  </div>

  <div class="header__heading-box margin-left-small">
    <h1 class="header__heading "> Sign In</h1>
  </div>

  <div class="header__logo-box ">
    <a href="/"> <div>&nbsp;</div></a>
  </div>
</header>

<section class="main-container form-middle">
  <form action="#" class="form">
    <input type="email" class="form__input" placeholder="Email ID">
    <input type="password" class="form__input" placeholder="Password">
    <div class="btn-primary">
      <a href="/feed" class="btn"><div>Go to Feed</div></a>
    </div>
  </form>

    <div class="link-primary margin-top-medium">
      <a href="/resetpassword" class="link">Can't Sign In? Reset Password</a>
    </div>
</section>