
.header {
  height: 9.6vh;
  width: 100%;
  padding: 0 1.7rem;
  padding-top: 2rem;

  position: sticky;
  top: 0;


  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 9;
  background-color: #ffffff;
  &__logo-box {
    color: #4A4A4A;
  }
  &__heading-box {

  }
  &__heading {

    font-family: 'ABeeZee',SansSerif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #4A4A4A;
  }
}